// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

$darkgreen: #0B4619;
$lightgreen: #87C38F;
$maingreen: #116530;
$grey: #B8BDB5;

body{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

textarea{
    resize: none;
    height: 500px;
}

.modal-backdrop {
    z-index: -1;
}

.bg-darkgreen{
    background-color: $darkgreen;
}

.bg-lightgreen{
    background-color: $lightgreen;
}

.bg-maingreen{
    background-color: $maingreen;
}

.bg-grey{
    background-color: $grey;
}

.btn.bg-darkgreen:hover{
    background: lighten($darkgreen, 20);
}

nav {
    img {
        height: 50px;
    }
    .modal-body {
        .nav.nav-tabs {
            button.nav-link.active{
                color: #000;
            }
        }
        form {
            label.col-form-label, button {
                color: #fff;
            }
            a.btn-link {
                color: #fff;
            }
            a.btn-link:hover {
                color: $grey;
            }
        }
    }
}

#home-banner{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.73) 91%, #1a1818 100%), url('https://images.unsplash.com/photo-1541339907198-e08756dedf3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    height: 75vh;
    
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
    }
}

#news {
    a {
        display: block;
        width: 130px;
    }
    small {
        font-size: 12px;
    }
    p {
        text-align: justify;
    }
}

footer {
    p,a {
        font-size: 16px;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    a:hover {
        color: $grey;
        text-decoration: underline;
    }
    img{
        height: 95px;
    }
}

#list, #archive, #post_list{
    tbody {
        a, button {
            text-decoration: none;
            color: #fff;
        }
        a:hover, button:hover{
            text-decoration: underline;
            color: $lightgreen;
        }
    }
}

#list, #archive, #post_list, #view_alumnus {
    form {
        display: inline;
        button{
            margin: 0;
            padding: 0;
            background: transparent;
            border: 0;
        }
    }
}

#view_alumnus{
    a, button {
        color: #fff;
    }
    a:hover, button:hover {
        color: $grey;
    }
}   

.add_edit_form{
    .self_employed, .unemployed, .retired, #unemployed_other_reason{
        display: none;
    }
}

#analytics {
    img {
        width: 250px;
        height: 200px;
    }
}

#wait_box {
    height: 50vh;
}

@media (max-width: 767.98px) {
    h1{
        font-size: 32px !important;
    }
    h2{
        font-size: 18px !important;
    }
    p, button{  
        font-size: 16px !important;
    }
    #view_alumnus{
        .bg-maingreen{
            width: 100%;
        }
    }
    #news {
        a.bg-darkgreen{
            width: 100%;
        }
    }
}
#admin_profile {
    
}

@media (min-width: 992px) {
    #view_alumnus{
        .bg-maingreen{
            width: 71%;
        }
    }
    #analytics {
        h2 {
            text-transform: uppercase;
        }
    }
}