@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');


$darkgreen: #0B4619;
$lightgreen: #87C38F;
$maingreen: #116530;
$grey: #B8BDB5;

body{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

.bg-darkgreen{
    background-color: $darkgreen;
}

.bg-lightgreen{
    background-color: $lightgreen;
}

.bg-maingreen{
    background-color: $maingreen;
}

.bg-grey{
    background-color: $grey;
}

.btn.bg-darkgreen:hover{
    background: lighten($darkgreen, 20);
}

#home-banner{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.73) 91%, #1a1818 100%), url('https://images.unsplash.com/photo-1541339907198-e08756dedf3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    height: 75vh;
    
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
    }
}

#news {
    .card {
        .card-body{
            button{
                width: 100%;
            }
        }

        .card-footer{
            font-size: 12px;
        }
    }
}

footer {
    p{
        font-size: 16px;
    }
    img{
        height: 50px;
    }
}

#list, #archive{
    tbody {
        a {
            text-decoration: none;
            color: #fff;
        }
        a:hover{
            text-decoration: underline;
            color: $lightgreen;
        }
    }
}

#view_alumnus{
    a {
        color: #fff;
    }
    a:hover {
        color: $grey;
    }
}

.add_edit_form{
    .self_employed, .unemployed, .retired{
        display: none;
    }
}

@media (max-width: 767.98px) {
    h1{
        font-size: 32px !important;
    }
    h2{
        font-size: 18px !important;
    }
    p, button{  
        font-size: 16px !important;
    }
    #view_alumnus{
        .bg-maingreen{
            width: 100%;
        }
    }
}

@media (min-width: 992px) {
    #view_alumnus{
        .bg-maingreen{
            width: 71%;
        }
    }
}