@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap);
body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.bg-darkgreen {
  background-color: #0B4619;
}

.bg-lightgreen {
  background-color: #87C38F;
}

.bg-maingreen {
  background-color: #116530;
}

.bg-grey {
  background-color: #B8BDB5;
}

.btn.bg-darkgreen:hover {
  background: #199e38;
}

#home-banner {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.73) 91%, #1a1818 100%), url("https://images.unsplash.com/photo-1541339907198-e08756dedf3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 75vh;
}
#home-banner h1 {
  font-size: 48px;
}
#home-banner h2 {
  font-size: 32px;
}

#news .card .card-body button {
  width: 100%;
}
#news .card .card-footer {
  font-size: 12px;
}

footer p {
  font-size: 16px;
}
footer img {
  height: 50px;
}

#list tbody a, #archive tbody a {
  text-decoration: none;
  color: #fff;
}
#list tbody a:hover, #archive tbody a:hover {
  text-decoration: underline;
  color: #87C38F;
}

#view_alumnus a {
  color: #fff;
}
#view_alumnus a:hover {
  color: #B8BDB5;
}

.add_edit_form .self_employed, .add_edit_form .unemployed, .add_edit_form .retired {
  display: none;
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 32px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  p, button {
    font-size: 16px !important;
  }

  #view_alumnus .bg-maingreen {
    width: 100%;
  }
}
@media (min-width: 992px) {
  #view_alumnus .bg-maingreen {
    width: 71%;
  }
}
